$bg-main: #22272e;
$bg-dark: #181a1e;
$bg-dark2: #1e1f26;
$bg-dark-light: #3a3f48;
$bg-dark-light2: #444857;
$bg-dark-light3: #5a5f73;
$bg-danger: #ed4b4d;
$bg-danger2: #eb3436;

$bg-blue: #7dddff;
$bg-white: #eef2f3;
$bg-gray: #949895;