@import "../../assets/styles/var";

.editor-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 70px;
    background-color: $bg-dark;
    border-bottom: 5px solid $bg-dark-light2;
    color: white;

    display: grid;
    grid-template-columns: auto auto repeat(17, 1fr) auto;
    grid-column-gap: 5px;
    align-items: center;
    justify-items: center;

    .Logo {
      margin: 0 15px;
    }

    .snippet-info {
      display: grid;
      grid-template-rows: auto auto;
      grid-gap: 5px;
      align-items: start;
      justify-items: start;
      .snippet-name {
        font-size: 20px;
      }
    }

    .SaveButton {
      grid-column: 17 / 17;
    }

    .SettingsButton {
      grid-column: 18 / 18;

      .DropdownContent {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        right: 0;

        .input-wrapper .input-title-keywords {
          margin-bottom: 2px;
        }

        .input-wrapper .input-description {
          margin-bottom: 5px;
          color: $bg-gray;
          font-size: 12px;
        }
      }

      .DropdownContent.active {
        right: 0;
        width: 400px;
        height: 350px;
      }
    }

    .ViewButton {
      grid-column: 19 / 19;

      .DropdownContent.active {
        width: 140px;
        height: 30px;
      }
    }

    .ToggleSwitch {
      img {
        width: 30px;
        height: 30px;
        margin: 0
      }
    }

    .UserMenu {
      margin: 0 5px;
      grid-column: 20 / 20;
    }

  }

  .main {
    width: 100%;
    height: calc(100% - 75px);

    .Iframe {
      width: 100%;
      height: 100%;
    }
  }

  .console {
    width: 100%;
    height: 100%;

    display: grid;
    grid-auto-rows: 20px auto;

    .header {
      height: 20px;
      background-color: #131419;
      font-size: 14px;
      color: white;
    }

    .content {
      font-size: 15px;
      font-family: "Fira Code Light", sans-serif;
      background-color: #26282e;
      border-radius: 0;
      color: white;
    }
  }

}

